<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <br>
        <br>
        <br>
        <% if(wiki.private) { %>
        <h1>Collaborators for
            <%= wiki.title %> Wiki</h1>
        <hr>
        <h4> Add a New Collaborator</h4>
        <% if(currentUser && (currentUser.role === "premium" || currentUser.role === "admin")) { %>
        <form id="addCollab" style="width:50%" action="/wikis/<%= wiki.id %>/collabs/create" method="post">
            <div class="input-group">
                <select 
                    form="addCollab"
                    class="form-control" 
                    name="collaborator" 
                >
                 
                    <% user.forEach(u => { %>
                        <option value="<%= u.dataValues.email %>"><%= u.dataValues.email %></option>
                    <% }) %>
                </select>
                <button type="submit" class="btn btn-secondary">Add</button>
            </div>
        </form>
        <% } %>
        <% } %>
        <br>
        <% if(collabs) { %>
        <ul class="list-group">
            <% collabs.forEach((collaborator) => {  %>
            <li class="list-group-item">
                <h4>Current collaborators</h4>
                <p>
                    <%= collaborator.User.name %>
                </p>
                <% if(currentUser && (currentUser.role === "premium" || currentUser.role === "admin")) { %>
                <form action="/wikis/<%= collaborator.wikiId %>/collabs/delete" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <input type="hidden" value="<%= collaborator.id %>" class="form-control" name="collaborator">
                </form>
                <% } %>
            </li>
            <% }) %>
        </ul>
        <% } %>
</body>

</html>